@import "tailwindcss";

body {
  font-family: 'IBM Plex Mono', monospace;
}
.skills-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.skills-card ul {
  list-style: disc;
  padding-left: 1rem;
  line-height: 1.8;
}
