---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Footer from "../components/Footer.astro";
import { siteConfig } from "../config";
import "../styles/global.css";
---

<Header />

<section>
  <Hero />
  <About />
  <Projects />
  <Experience />
  <Education />
</section>

<section>
  <h2>Skills</h2>
  <ul>
    {[
      ...siteConfig.skills.languages,
      ...siteConfig.skills.frameworksAndLibraries,
      ...siteConfig.skills.toolsAndPlatforms,
      ...siteConfig.skills.coreCompetencies
    ].map(skill => (
      <li>{skill}</li>
    ))}
  </ul>
</section>

<Footer />
